{% if menu %}

	{% for item in menu %}
		<h1 class="{{item.classes | join(' ')}} menu-parent">
			<a href="{{item.get_link}}">{{item.title}}</a>
			{% if item.get_children %}
				<nav class="child-nav">
					{% for item in item.get_children %}
						<h1 class="{{item.classes | join(' ')}}">
							<a href="{{item.get_link}}">{{item.title}}</a>
						</h1>
					{% endfor %}
				</nav>
			{% endif %}

			{# {% include "partials/menu.twig" with {'menu': item.get_children} %} #}
		</h1>
	{% endfor %}

{% endif %}
